.image_1, .image_2{
    background-color:#53687E ;
    width: 200px; 
    height: 200px;   
}

img{
    background-color: #53687E ;
    width: 200px; 
    height: 200px;
}

body {
    background-color: #F5E1E1;
    font-family: Arial, sans-serif;

}


button{
    
}

table{
    display: inline-block
}
